<div class="container">
  <br>
  <img src="{{ imageSource }}" alt="">
  <img [src]="imageSource" alt="">
  <div class="form-group" style="width: 200px">
    <button
      class="btn btn-success form-control"
      *ngIf="!isShowForm" 
      (click)="toggleForm();" 
    >
      Add word
    </button>
    <div *ngIf="isShowForm">
      <input class="form-control" placeholder="English" [(ngModel)]="txtEn">
      <br>
      <input class="form-control" placeholder="Vietnamese" [(ngModel)]="txtVn">
      <br>
      <button
        class="btn btn-success form-control"
        (click)="addWord()">
        Add word
      </button>
      <br>
      <br>
      <button
        class="btn btn-danger form-control"
        (click)="toggleForm();" 
      >
        Cancel
      </button>
    </div>
    <br>
  </div>
  <div *ngFor="let word of words">
    <h4 [style.color]="word.isMemorized ? 'green' : 'red'">
      {{ word.en }}
    </h4>
    <p>{{ word.vn }}</p>
    <button class="btn btn-danger" (click)="removeWord(word._id);">
      Remove
    </button>
    <button class="btn btn-success" (click)="toggleWord(word._id);">
      Toggle
    </button>
  </div>
</div>
